@import "tailwindcss";

.page-container {

    .page-content {
        @apply pl-4 pr-4;

        .loading-container {
            background-color: #fff;

            .loading {
                position: absolute;
                top: 50% ;
                left: calc(50% - 62px);
            }
        }

        .card {
            @apply w-full mt-4 p-4 bg-white;
            border-radius: .5rem;

            .title {
                @apply mb-3
            }

            .text {
                line-height: 1.5rem;
                font-size: .8rem;
                color: #A4A4A4;
            }
        }

        .header {
            @apply flex;
            justify-content: space-between;

            .adress-day {
                font-weight: 700;
            }

            .budget {
                color: #CA4C47;
            }
        }

        .dailyItinerary {
            @apply w-full mt-4 bg-white;
            border-radius: .5rem;

            .dailyItinerary-content {
                @apply mb-4;

                .day-time {
                    @apply mt-3 mb-3;
                }

                .scenic-spot {
                    font-weight: 600;
                    font-size: 1.2rem;
                    color: #000;
                }

                .scenic-spot-detail {
                    /* @apply mt-3; */

                    .detail-item {
                        @apply mt-3;
                        display: flex;

                        .duration {
                            margin-right: .5rem;
                        }
                    }
                }

            }
        }

        .budget-detail {
            margin-top: .2rem;

            .budget-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: .7rem;

                .cost {
                    color: #A4A4A4;
                }
            }

            .budget-item-total {
                font-weight: 600;
                font-size: 1.2rem;
                color: #000;
                background-color: #F6F8FA;

                .cost {
                    color:#CA4C47
                }
            }
        }

        .ask-btn {
            @apply mt-5 mb-5;
        }
    }

}

.icon {
    margin-right: .2rem;
    margin-top: .1rem;
}