@import "tailwindcss";

.page-container {
    @apply w-full;

    .page-content {
        @apply pl-4 pr-4;

        .notice-bar {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .card {
            @apply bg-white mt-4 p-4 rounded-2xl;

            .form-item {
                @apply mt-4
            }

            .grid {
                @apply mt-4;

                .city-tag-common {
                    line-height: .5rem;
                    border-radius: 1rem;
                    font-size: .8rem;
                    padding: .5rem;
                    transition: all .3s;
                    @apply whitespace-nowrap
                }

                .city-tag {
                    background-color: #f7f8fa;
                    color: #666;
                }

                .city-tag-active {
                    background-color: #3f45ff;
                    color: #fff
                }
            }

        }

        .card:last-child {
            margin-bottom: 1rem;
        }

        /* 覆盖NoticeBar左侧图标的最小宽度限制 */
        .rv-notice-bar__left-icon {
            min-width: auto;
            /* 移除最小宽度限制 */
            font-size: 1.2rem;
            /* 调整图标大小 */
            margin-right: 0.2rem;
            /* 调整图标与文本之间的间距 */
        }
    }
}